.header-content {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  display: flex;
}

.header-content .home-button,
.header-content .facts-button {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.header-content .home-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-content .home-button a .version {
  font-size: x-large;
  font-weight: bold;
  color: #FFD021;
}

.header-content .spacer {
  flex: 1 1 auto;
}

.header-content .facts-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}

.header-content .facts-button button:hover {
  color: #FFD021;
}

@media screen and (max-width: 321px) {
  .header-content .home-button a .version {
    font-size: large;
  }
}
