.header-content {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-content .home-button,
.header-content .facts-button {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.header-content .home-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-content .home-button a .version {
  font-size: x-large;
  font-weight: bold;
  color: #FFD021;
}

.header-content .spacer {
  flex: 1 1 auto;
}

.header-content .facts-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}

.header-content .facts-button button:hover {
  color: #FFD021;
}

@media screen and (max-width: 732px) and (max-height: 412px) {
  .header-content {
    height: 50px;
  }

  .header-content .home-button,
  .header-content .facts-button {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 415px) {
  .header-content {
    height: 50px;
  }

  .header-content .home-button,
  .header-content .facts-button {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 361px) {
  .header-content .home-button,
  .header-content .facts-button {
    padding: 0px 5px;
  }

  .header-content .home-button a .version {
    font-size: large;
  }
}

/* @media screen and (max-height: 415px) {
  .header-content {
    padding: 5px;
  }

  .header-content .home-button a {
    font-size: x-large;
  }

  .header-content .home-button a .version{
    font-size: larger;
  }
} */
