.footer-content {
  min-height: fit-content;
  width: 100%;
  height: 100%;
}

.footer-content mat-toolbar {
  height: inherit;
}

.footer-content mat-toolbar a {
  text-decoration: none;
}

.footer-content mat-toolbar .license {
  font-size: small;
}

.footer-content mat-toolbar .spacer {
  flex: 1 1 auto;
}
