.footer-content {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  display: flex;
}

.footer-content div a {
  text-decoration: none;
  color: black;
}

.footer-content .license,
.footer-content .github-button {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.footer-content .license span a{
  color: #E34427;
}

.footer-content .spacer {
  flex: 1 1 auto;
}

.footer-content .github-button {
  font-size: small;
  font-weight: bold;
}

.footer-content .github-button a:hover {
  color: #E34427;
}

@media screen and (max-width: 412px) {
  .footer-content .license {
    font-size: x-large;
  }
}

@media screen and (max-width: 320px) {
  .footer-content .license {
    font-size: x-large;
  }

  .footer-content .github-button {
    font-size: x-small;
  }
}
