.blob1,
.blob2,
.blob3,
.blob4,
.blob5,
.blob6 {
  max-height: 0px;
  max-width: 0px;
  position: relative;
  top: 0px;
  right: 0px;
}

.blob1 .cell1::before,
.blob1 .cell2::before,
.blob1 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.blob1 .cell1::before {
  height: 20px;
  width: 20px;
  top: -4px;
  left: 0px;
  background-color: #F2F3F4;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob1 .cell2::before {
  height: 30px;
  width: 20px;
  top: 7px;
  left: -6px;
  box-shadow: -1px -2px 2px 2px rgba(0, 0, 0, 0.7);
}

.blob1 .cell3::before {
  height: 25px;
  width: 25px;
  top: 2px;
  left: 1px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.blob2 .cell1::before,
.blob2 .cell2::before,
.blob2 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: #F2F3F4;
  position: absolute;
}

.blob2 .cell1::before {
  height: 20px;
  width: 20px;
  top: -30px;
  left: -40px;
  z-index: 1;
  background-color: black;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.blob2 .cell2::before {
  height: 30px;
  width: 20px;
  top: -32px;
  left: -34px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob2 .cell3::before {
  height: 25px;
  width: 25px;
  top: -38px;
  left: -36px;
  box-shadow: 2px -2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob3 .cell1::before,
.blob3 .cell2::before,
.blob3 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: #F2F3F4;
  position: absolute;
}

.blob3 .cell1::before {
  height: 25px;
  width: 25px;
  top: 10px;
  left: -40px;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob3 .cell2::before {
  height: 15px;
  width: 30px;
  top: 12px;
  left: -34px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob3 .cell3::before {
  height: 25px;
  width: 25px;
  top: -38px;
  left: -36px;
  box-shadow: -2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob4 .cell1::before,
.blob4 .cell2::before,
.blob4 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.blob4 .cell1::before {
  height: 20px;
  width: 20px;
  top: -4px;
  left: 0px;
  background-color: #F2F3F4;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob4 .cell2::before {
  height: 30px;
  width: 20px;
  top: -20px;
  left: 6px;
  box-shadow: -1px -2px 2px 2px rgba(0, 0, 0, 0.7);
}

.blob4 .cell3::before {
  height: 25px;
  width: 25px;
  top: 2px;
  left: 1px;
  background-color: #F2F3F4;
  box-shadow: 0px -4px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob5 .cell1::before,
.blob5 .cell2::before,
.blob5 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.blob5 .cell1::before {
  height: 20px;
  width: 20px;
  top: -4px;
  left: 0px;
  background-color: #F2F3F4;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
  display: none;
}

.blob5 .cell2::before {
  height: 30px;
  width: 20px;
  top: 7px;
  left: -6px;
  box-shadow: -1px -2px 2px 2px rgba(0, 0, 0, 0.7);
  display: none;
}

.blob5 .cell3::before {
  height: 25px;
  width: 25px;
  top: 2px;
  left: 1px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.blob6 .cell1::before,
.blob6 .cell2::before,
.blob6 .cell3::before {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: #F2F3F4;
  position: absolute;
}

.blob6 .cell1::before {
  height: 20px;
  width: 20px;
  top: -30px;
  left: 6px;
  z-index: 1;
  background-color: rgba(227, 68, 39);
  box-shadow: -1px 2px 2px 2px rgba(227, 68, 39, 0.7);
}

.blob6 .cell2::before {
  height: 30px;
  width: 20px;
  top: 12px;
  left: -34px;
  box-shadow: 2px -2px 2px 2px rgba(255, 255, 255, 0.5);
}

.blob6 .cell3::before {
  height: 25px;
  width: 25px;
  top: -38px;
  left: -36px;
  box-shadow: -2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 415px) {
  .blob1 .cell2::before,
  .blob1 .cell3::before,
  .blob2 .cell2::before,
  .blob2 .cell3::before,
  .blob3 .cell1::before,
  .blob3 .cell3::before,
  .blob4 .cell1::before,
  .blob4 .cell3::before,
  .blob5 .cell3::before,
  .blob6 .cell3::before {
    display: none;
  }

  .blob4 .cell2::before,
  .blob6 .cell1::before {
    left: 0px;
  }

  .blob6 .cell2::before {
    height: 20px;
  }
}
