.main-content {
  min-height: fit-content;
  height: 100%;
  width: inherit;
  padding: 10px 10%;
}

.main-content h2 {
  width      : 100%;
  position: relative;
  top: 40px;
  text-align : justify;
  color      : #3a243b;
  font-family: 'Gabriola', 'Courier New', Courier, monospace;
}

.main-content mat-card {
  min-height: fit-content;
  max-height: 90%;
  width: inherit;
  margin: 0px;
  padding: 10px;
  top: -20px;
}

.main-content mat-card #indicators {
  width     : 100%;
  margin    : 0 auto;
  text-align: center;
}

.main-content mat-card #indicators .indicator-correct {
  width           : 10%;
  display         : inline-block;
  padding         : 1rem 1rem;
  background-color: #ffd633;
  color           : #3a243b;
  box-shadow      : 5px 5px 4px #9b619e;
  border-radius   : 50%;
}

.main-content mat-card #indicators .indicator-incorrect {
  width           : 10%;
  display         : inline-block;
  padding         : 1rem 1rem;
  background-color: rgb(207, 74, 74);
  color           : #ffd633;
  box-shadow      : 5px 5px 4px #9b619e;
  border-radius   : 50%;
}

.main-content mat-card #indicators .spacer {
  margin: 1rem 1rem;
}

.main-content mat-card form mat-form-field {
  display     : block;
  width       : 50%;
  padding-left: 40%;
}
