.main-content {
  min-height: fit-content;
  height: 100%;
  width: 100%;
  display: flex;
}

.main-content .koi-pond {
  height: 100%;
  width: 100%;
}

.main-content .koi-pond .koi-fish {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgba(128, 197, 222, 0.5);
  box-shadow: 0px 0px 40px 40px rgba(128, 197, 222, 0.5);
  animation: rotate 10s linear 30ms infinite normal none paused,
              grow 3s linear 30ms infinite normal none paused;
}

.main-content .koi-pond .koi-fish:hover {
  animation: rotate 10s linear 30ms infinite normal none running,
              grow 3s linear 30ms infinite normal none running;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}
  50%   {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@keyframes grow {
  0%   {
    height: 400px;
    width: 400px;
  }
  50% {
    height: 450px;
    width: 450px;
  }
  100%   {
    height: 400px;
    width: 400px;
  }
}

.main-content .koi-pond .koi-fish img {
  height: 100%;
  width: 100%;
}

.main-content .haiku {
  height: 100%;
  width: 100%;
}

.main-content .haiku .haiku-submission-form {
  height: 85%;
  min-width: 600px;
  margin: 0px;
  padding: 5px;
  background-color: blanchedalmond;
  box-shadow: 2px 2px 2px 2px darkgray;
  border-radius: 30px;
  mix-blend-mode: multiply;
}

.main-content .haiku .haiku-submission-form .instructions {
  height: 10%;
  width: 100%;
  margin: 0px;
}

.main-content .haiku .haiku-submission-form .haiku-tools {
  height: 90%;
  width: 100%;
  margin: 0px;
}

#haiku-form {
  height: 90%;
  width: 90%;
  padding: 5px;
}

#haiku-form .row {
  height: 24.5%;
  width: 100%;
  display: flex ;
}

#haiku-form .row .indicator {
  height: 100%;
  width: 30%;
}

#haiku-form .row .indicator .verse-output {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #E34427 30%, #FFD021, #F2F3F4);
}

#haiku-form .row .indicator .verse-output .count {
  z-index: 2;
  font-family: 'Gustello';
  font-size: 80px;
	-webkit-text-stroke: 1px #F2F3F4;
}

#haiku-form .row .verse {
  height: 100%;
  width: 69%;
}

#haiku-form .row .verse .verse-input {
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

#haiku-form .row button {
  width: 100px;
  height: 40px;
}

#haiku-form .row button#publish {
  width: 200px;
}

#haiku-form .row .spacer {
  width: 30%;
}

@media screen and (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    min-height: fit-content;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
  }

  .main-content .koi-pond,
  .main-content .haiku {
    min-height: 500px;
    width: 95%;
  }

  .main-content .koi-pond {
    order: 2;
  }

  .main-content .haiku {
    order: 1;
  }

  .main-content .haiku .haiku-submission-form {
    height: 95%;
  }

  .main-content .haiku .haiku-submission-form .instructions {
    text-align: center;
  }

  #haiku-form .row {
    margin-bottom: 5px;
  }

  #haiku-form .row .verse {
    height: auto;
    min-height: 100%;
  }
}

@media screen and (max-width: 824px) and (max-height: 415px) {
  .main-content {
    padding: 0px;
  }

  .main-content .koi-pond {
    display: none;
  }

  .main-content .haiku {
    min-height: fit-content;
  }

  .main-content .haiku .haiku-submission-form {
    min-width: fit-content;
    height: fit-content;
  }

  .main-content .haiku .haiku-submission-form .instructions {
    min-width: 500px;
  }

  .main-content .haiku .haiku-submission-form .instructions span {
    font-size: 35px;
  }

  .main-content .haiku .haiku-submission-form .instructions {
    height: 30px;
  }

  .main-content .haiku .haiku-submission-form .haiku-tools {
    height: fit-content;
  }

  #haiku-form {
    height: 250px;
  }

  #haiku-form .row {
    height: 57px;
  }

  #haiku-form .row .indicator .verse-output {
    height: 50px;
    width: 50px;
  }

  #haiku-form .row .indicator .verse-output .count {
    font-size: 60px;
  }
}

@media screen and (max-width: 813px) and (max-height: 376px){
  #haiku-form {
    height: 210px;
  }

  #haiku-form .row {
    height: 47px;
  }

  #haiku-form .row .indicator .verse-output {
    height: 45px;
    width: 45px;
  }

  #haiku-form .row button {
    height: 35px;
  }
}

@media screen and (max-width: 668px) and (max-height: 376px) {
  #haiku-form {
    height: 250px;
  }

  #haiku-form .row {
    height: 60px;
  }

  #haiku-form .row button {
    height: 40px;
  }
}

@media screen and (max-width: 641px) and (max-height: 361px) {
  #haiku-form {
    height: fit-content;
  }
}

@media screen and (max-width: 569px) and (max-height: 361px) {
  .main-content .haiku {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 415px) and (max-height: 737px) {
  .main-content .koi-pond {
    min-height: 200px !important;
  }
}

@media screen and (max-width: 769px) {
  .main-content {
    padding: 0px;
  }

  .main-content .koi-pond {
    min-height: 300px;
  }

  .main-content .koi-pond .koi-fish {
    height: 200px;
    width: 200px;
    animation: rotate 10s linear 30ms infinite normal none running;
  }

  .main-content .koi-pond .koi-fish:hover {
    animation: rotate 10s linear 30ms infinite normal none paused;
  }

  .main-content .haiku {
    min-height: 400px;
  }

  .main-content .haiku .haiku-submission-form {
    min-width: 90%;
    mix-blend-mode: normal;
  }

  #haiku-form .row .indicator {
    height: 100%;
    width: 30%;
  }

  #haiku-form .row .indicator .verse-output {
    height: 60px;
    width: 60px;
  }

  #haiku-form .row .verse {
    height: auto;
    min-height: 100%;
  }

  #haiku-form .row button {
    width: 100px;
    height: 40px;
  }

  #haiku-form .row button#publish {
    width: fit-contents;
  }
}

@media screen and (min-width: 900px) and (max-height: 769px) {
  .main-content {
    flex-direction: unset;
  }

  .main-content .koi-pond {
    order: 1;
  }

  .main-content .haiku {
    order: 2;
  }
}
