<!-- <div class="main-content">
  <h2 class="mat-display-1">Haiku Checker</h2>

  <mat-card>
    <div id="indicators">
      <div class="mat-headline" [ngClass]="{
          'indicator-correct': (firstCount === 0 || firstCount === 5),
          'indicator-incorrect': (firstCount != 0 && firstCount != 5)
        }">
        {{firstCount}}
      </div>

      <span class="spacer"></span>

      <div class="mat-headline" [ngClass]="{
          'indicator-correct': (secondCount === 0 || secondCount === 7),
          'indicator-incorrect': (secondCount != 0 && secondCount != 7)
        }">
        {{secondCount}}
      </div>

      <span class="spacer"></span>

      <div class="mat-headline" [ngClass]="{
          'indicator-correct': (thirdCount === 0 || thirdCount === 5),
          'indicator-incorrect': (thirdCount != 0 && thirdCount != 5)
        }">
        {{thirdCount}}
      </div>
    </div>

    <form #haikuForm="ngForm" (submit)="checkHaiku(haikuForm)">
      <mat-form-field>
        <input matInput type="text" placeholder="This is the first line" name="firstVerse" ngModel #firstInput="ngModel"
          required>
        <mat-error *ngIf="firstInput.invalid">Please insert a verse</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="followed by the second line" name="secondVerse" ngModel
          #secondInput="ngModel" required>
        <mat-error *ngIf="secondInput.invalid">Please insert a verse</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="with the third to end" name="thirdVerse" ngModel #thirdInput="ngModel"
          required>
        <mat-error *ngIf="thirdInput.invalid">Please insert a verse</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Check Haiku
      </button>
    </form>
  </mat-card>
</div> -->

<div class="new-content">
  <div class="koi-pond">

    <div class="koi-fish">
      <img src="../../../assets/img/koi1.png" alt="">
    </div>

  </div>

  <div class="haiku">

    <h2>Haiku Form</h2>

    <div class="haiku-submission-form">

      <div class="instructions">
        <span>Write your haiku below. Try to get a 5-7-5 verse count.</span>
      </div>

      <div class="haiku-tools">

        <form id="haiku-form" (ngSubmit)="checkHaiku(haikuForm)" #haikuForm="ngForm">

          <div class="row">

            <div class="indicator">

            </div>

            <div class="verse">

            </div>

          </div>

          <div class="row">

            <div class="indicator">

            </div>

            <div class="verse">

            </div>

          </div>

          <div class="row">

            <div class="indicator">

            </div>

            <div class="verse">

            </div>

          </div>

          <div class="row">

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
