<h2 class="mat-display-1">Haiku Checker</h2>

<mat-card>
  <div id="indicators">
    <div class="indicator mat-headline">0</div>
    <span class="spacer"></span>
    <div class="indicator mat-headline">0</div>
    <span class="spacer"></span>
    <div class="indicator mat-headline">0</div>
  </div>

  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="This is the first line">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="followed by the second line">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="with the third to end">
    </mat-form-field>
  </form>
</mat-card>

