.main-content {
  min-height: fit-content;
  height: 100%;
  width: inherit;
  padding: 10px 10%;
}

.main-content h2 {
  width      : 100%;
  position: relative;
  top: 40px;
  text-align : justify;
  color      : #3a243b;
  font-family: 'Gabriola', 'Courier New', Courier, monospace;
}

.main-content mat-card {
  min-height: fit-content;
  max-height: 90%;
  width: inherit;
  margin: 0px;
  padding: 10px;
  top: -20px;
}

.main-content mat-card #indicators {
  width     : 100%;
  margin    : 0 auto;
  text-align: center;
}

.main-content mat-card #indicators .indicator-correct {
  width           : 10%;
  display         : inline-block;
  padding         : 1rem 1rem;
  background-color: #ffd633;
  color           : #3a243b;
  box-shadow      : 5px 5px 4px #9b619e;
  border-radius   : 50%;
}

.main-content mat-card #indicators .indicator-incorrect {
  width           : 10%;
  display         : inline-block;
  padding         : 1rem 1rem;
  background-color: rgb(207, 74, 74);
  color           : #ffd633;
  box-shadow      : 5px 5px 4px #9b619e;
  border-radius   : 50%;
}

.main-content mat-card #indicators .spacer {
  margin: 1rem 1rem;
}

.main-content mat-card form mat-form-field {
  display     : block;
  width       : 50%;
  padding-left: 40%;
}

/* New Style */
.new-content {
  min-height: fit-content;
  height: 100%;
  width: 100%;
  display: flex;
}

.new-content .koi-pond {
  height: 100%;
  width: 100%;
}

.new-content .koi-pond .koi-fish {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgba(128, 197, 222, 0.5);
  box-shadow: 0px 0px 40px 40px rgba(128, 197, 222, 0.5);
  animation: rotate 10s linear 30ms infinite normal none paused,
              grow 3s linear 30ms infinite normal none paused;
}

.new-content .koi-pond .koi-fish:hover {
  animation: rotate 10s linear 30ms infinite normal none running,
              grow 3s linear 30ms infinite normal none running;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}
  50%   {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@keyframes grow {
  0%   {
    height: 400px;
    width: 400px;
  }
  50% {
    height: 450px;
    width: 450px;
  }
  100%   {
    height: 400px;
    width: 400px;
  }
}

.new-content .koi-pond .koi-fish img {
  height: 100%;
  width: 100%;
}

.new-content .haiku {
  height: 100%;
  width: 100%;
  display: block;
  padding: 5px 10px 0px 10px;
  border: 1px solid blue;
}

.new-content .haiku h2 {
  border: 1px solid red;
  text-align: center;
  height: fit-content;
  margin-bottom: 5px;
}

.new-content .haiku .haiku-submission-form {
  border: 1px solid red;
  height: 85%;
  margin: 0px;
  padding: 5px;
}

.new-content .haiku .haiku-submission-form .instructions {
  border: 1px solid green;
  height: 10%;
  width: 100%;
  margin: 0px;
}

.new-content .haiku .haiku-submission-form .haiku-tools {
  border: 1px solid green;
  height: 90%;
  width: 100%;
  margin: 0px;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form {
  border: 1px solid black;
  height: 90%;
  width: 90%;
  padding: 5px;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row {
  border: 1px solid orange;
  height: 24.5%;
  width: 100%;
  display: flex ;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row .indicator {
  border: 1px solid purple;
  height: 100%;
  width: 30%;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row .verse {
  border: 1px solid hotpink;
  height: 100%;
  width: 69%;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row .verse .verse-input {
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 20px;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row button {
  width: 100px;
  font-size: 15px;
}

.new-content .haiku .haiku-submission-form .haiku-tools #haiku-form .row .spacer {
  width: 30%;
}

@media screen and (max-height: 700px) {
  .new-content {
    flex-direction: column;
  }

  .new-content .koi-pond {
    order: 2;
  }

  .new-content .haiku {
    order: 1;
  }

  .new-content .koi-pond .koi-fish {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: rotate 10s linear 30ms infinite normal none running;
  }

  .new-content .koi-pond .koi-fish:hover {
    animation: rotate 10s linear 30ms infinite normal none paused;
  }
}

@media screen and (max-height: 400px) {
  .new-content {
    flex-direction: unset;
    padding: 2px 0px;
  }
}
