.content {
  min-height: fit-content;
  display: block;
  height: 100%;
  width : 100%;
  background-image: url('../assets/img/parchment-background.jpg');
  background-color: #cccccc;
}

.content header,
.content footer {
  min-height: fit-content;
  height: 10%;
  width : 100%;
}

.content main {
  height: 80%;
  width : 100%;
  padding: 5px 0px;
  border: 1px solid green;
}

/* @media screen and (max-width: 1367px) {

} */

@media screen and (max-width: 1024px) {
  /* .content header,
  .content footer {
    height: 70px;
  } */

  .content main {
    height: auto;
    min-height: fit-content;
    width : 99%;
  }
}

@media screen and (max-width: 641px) and (max-height: 361px) {
  .content header,
  .content footer {
    height: auto;
  }

  .content main {
    height: fit-content;
  }

  .content {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 415px) {
  .content header,
  .content footer {
    height: auto;
  }

  .content {
    overflow-y: scroll;
  }
}
