* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width : 100%;
}

.content {
  min-height: fit-content;
  display: block;
  height: 100%;
  width : 100%;
  background-image: url('../assets/img/parchment-background.jpg');
  background-color: #cccccc;
}

.content header,
.content footer {
  min-height: fit-content;
  height: 10%;
  width : 100%;
}

.content main {
  min-height: fit-content;
  height: 80%;
  width : 100% !important;
  padding: 5px 0px;
}

/* router-outlet {
  border: 1px solid red;
  height: 100%;
  width : 100%;
} */
