/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body app-root {
  height: 100%;
  width: 100%;
  min-height: fit-content;
  min-width : fit-content;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    height: auto;
    width: auto;
    min-height: fit-content;
    min-width : fit-content;
  }
}
