/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body app-root {
  height: 100%;
  width: 100%;
  min-height: fit-content;
  min-width : fit-content;
}

/* class used to center inner children */
.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  border-color: #F16323;
  background-color: #F16323;
  color: black;
}

.primary-button:hover {
  border-color: black;
  background-color: black;
  color: #F16323;
  /* box-shadow: #F16323; */
}

.secondary-button {
  border-color: #FFD021;
  background-color: #FFD021;
  color: black;
}

.secondary-button:hover {
  border-color: black;
  background-color: black;
  color: #FFD021;
  /* box-shadow: #FFD021; */
}

.primary-button,
.secondary-button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Gustello';
  font-size: xx-large;
}

.gustello-font {
  font-family: 'Gustello';
  font-size: xx-large;
}

@font-face {
  font-family: 'Gustello';
  src: url('./assets/custom-fonts/Gustolle-400.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@media screen and (max-width: 569px) and (max-height: 321px) {
  .gustello-font {
    font-size: xx-large;
  }
}

@media screen and (max-width: 361px) {
  .gustello-font {
    font-size: x-large;
  }
}

