.main-content {
  margin: 0px 5px 5px 5px;
  min-height: fit-content;
  height: 100%;
  padding: 5px 10px;
}

.main-content .title {
  height: 50px;
  font-size: 60px;
  text-align: center;
}

.main-content hr {
  height: 3px;
  border: none;
  background-color: black;
  margin: 5px 0px;
}

.main-content .facts {
  height: fit-content;
  min-height: 600px;
}

.main-content .facts .fact {
  min-height: 200px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10%;
  background-color: blanchedalmond;
  box-shadow: 2px 2px 2px 2px darkgray;
  border-radius: 30px;
  mix-blend-mode: multiply;
  text-align: center;
}

.main-content .facts .fact .fact-title {
  font-size: larger;
  color: #E34427;
}

.main-content .facts .fact .fact-sub-title {
  font-size: xx-large;
  color: #F16323;
}

.main-content .facts .fact .fact-content {
  font-size: larger;
}

.main-content .facts .fact .fact-content .highlight {
  font-weight: bold;
  color: #E34427;
}

.main-content .facts .fact .fact-content .cutting-words {
  font-size: xx-large;
  font-style: italic;
  color: #F16323;
}

.main-content .facts .fact .fact-content .italicized {
  font-style: italic;
  color: #F16323;
}

.main-content .buffer {
  height: 50px;
}

@media screen and (max-width: 415px) {
  .main-content .facts .fact {
    margin: 10px 0px;
  }
}

@media screen and (max-width: 376px) {
  .main-content .title {
    height: 50px;
    font-size: 50px;
    text-align: center;
  }
}
