<div class="main-content">

  <div class="title gustello-font">What is a Haiku?</div>

  <div class="facts">

    <div class="fact gustello-font">

      <div class="fact-title">Poem of "cutting words"</div>

      <hr>

      <div class="fact-content">
        <p>
          A haiku is a short poem made up of three
          phrases that adhere to a specific structure.
          Although there are different structures, the most well
          known is the <span class="highlight">5 - 7 - 5</span> "cutting word" scheme.
        </p>

        <p>
          Simply put, "cutting words" refer to the amount of syllables each
          line, called verse, must possess to form a haiku:
        </p>

        <span class="spacer"></span>

        <p><span class="highlight">five (5)</span> syllables for the first line</p>

        <p><span class="highlight">seven (7)</span> syllables for the second line</p>

        <p><span class="highlight">five (5)</span> syllables for the third line</p>

        <span class="spacer"></span>

        <p>
          Subject of haiku typically range from elements of nature to natural events.
          Most popular themes are the seasons and the change they bring,
          both in the physical plane as well as the spiritual.
        </p>
      </div>

    </div>

    <div class="fact gustello-font">

      <div class="fact-title">Haiku Checker</div>
      <div class="fact-sub-title">A Haiku by the Dev, 2021</div>

      <hr>

      <div class="fact-content">
        <p>With Haiku Checker</p>
        <p class="cutting-words">With Hai-ku Check-er (5)</p>

        <p>learn to write better haiku</p>
        <p class="cutting-words">learn to write bett-er hai-ku (7)</p>

        <p>five seven five rule</p>
        <p class="cutting-words">five se-ven five rule (5)</p>
      </div>

    </div>

    <div class="fact gustello-font">

      <div class="fact-title">From 17th Century Japan...</div>
      <div class="fact-sub-title">To the 21st Century Classroom</div>

      <hr>

      <div class="fact-content">
        <span>
          Initially used as the opening stanza, called
        </span>
        <span class="italicized">Hokku</span>
        <span>, of other poem in early
          17th century Japan, the haiku began to gain enough popularity
          in the mid 1600s to feature as a stand alone work of literature.
        </span>

        <p>
          However, it wasn't until a century later that the Dutch traders
          introduced the Western world to this scheme of poetry, gaining
          enough popularity to inspire many English and Spanish haiku.
        </p>

        <p>
          Soon, this form of literature found it's way into the modern
          school curriculum as English Lit teacher's favorite method
          of torture to inflict on poor unsuspecting students.
        </p>
      </div>

    </div>

  </div>

  <div class="buffer"></div>

</div>
